@using Microsoft.AspNetCore.Http;
@model Projekat.Shared.DTOs.ItemDTO

<div class="row">
    <div class="col-md-4">
        <section>
            <form id="item" method="post" enctype="multipart/form-data">
                <br>
                <h2 class="text-success">@Model.Title</h2>
                <h3 class="text-success">Company:@Model.Make | Model:@Model.Model</h3>
                <hr />

                <div class="d-flex">
                    <div class="form-floating py-2 col-12 border bg-success">
                        <div id="carousel" class="carousel slide">
                            <div class="carousel-inner">
                                @foreach (var image in Model.Images)
                                {
                                    if (image.IsMainImage)
                                    {
                                        <div class="carousel-item active">
                                            <img src="@image.Url" class="d-block w-100">
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="carousel-item">
                                            <img src="@image.Url" class="d-block w-100">
                                        </div>
                                    }
                                }
                            </div>
                            <button class="carousel-control-prev rounded" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon bg-success" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next rounded" type="button" data-bs-target="#carousel" data-bs-slide="next">
                                <span class="carousel-control-next-icon bg-success" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>


                    <div class="form-label py-2 col-12 ms-3">
                        <h4>City: @Model.City</h4><br>
                        <h4>Description:</h4>
                        <textarea style="resize:none" class="w-100">@Model.Description</textarea>
                        <br>
                        <h4>
                            <b>Price:</b>

                            @if (Model.Price != 0)
                            {<b> @Model.Price.00 RSD</b>
                        }
                        else
                        { <b>Dogovor</b>}
                        </h4>
                        <br>
                        <button class="btn btn-success">Contact seller</button>

                        @if ((Context.Session != null && Context.Session.GetString("Email") != null))
                        {
                            if (Model.UserId != Context.Session.GetInt32("Id"))
                            {
                                if (!Model.isFollowing(Context.Session.GetInt32("Id").Value))
                                {
                                    <button class="btn btn-outline-warning" asp-action="Follow" asp-route-id="@Model.Id">Add to whish list</button>
                                }
                                else
                                {
                                    <button class="btn btn-warning" asp-action="UnFollow" asp-route-id="@Model.Id">Remove from wish list</button>
                                }
                            }
                        }
                        else if ((Context.Request.Cookies["LoginCookieEmail"] != null))
                        {
                            if (Model.UserId != Convert.ToInt32(Context.Request.Cookies["LoginCookieId"]))
                            {
                                if (!Model.isFollowing(Convert.ToInt32(Context.Request.Cookies["LoginCookieId"])))
                                {
                                    <button class="btn btn-outline-warning" asp-action="Follow" asp-route-id="@Model.Id">Add to wish list</button>
                                }
                                else
                                {
                                    <button class="btn btn-warning" asp-action="UnFollow" asp-route-id="@Model.Id">Remove from wish list</button>
                                }
                            }
                        }
                        <br><br>
                        <button class="btn btn-secondary" asp-action="Index">Back to list</button>
                    </div>
                </div>
            </form>
            <br>
        </section>
    </div>

</div>