@model Projekat.Shared.DTOs.NewItemDTO

<form method="post" asp-action="Upsert" enctype="multipart/form-data" id="id-forme">
    <input asp-for="@Model.ItemDTO.Id" hidden />

    <div class="row">
        <div class="col-10">
            <div class="border p-3 mt-4 row">
                <div class="col-12 pb-2">
                    <h2 class="text-primary">@(Model.ItemDTO.Id != 0 ? "Edit" : "Add") Item</h2>
                    <hr />
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.ItemDTO.Title"></label>
                    <input asp-for="@Model.ItemDTO.Title" class="form-control" />
                    <span asp-validation-for="@Model.ItemDTO.Title" class="text-danger"></span>
                </div>

                <h3>Upload your images</h3>
                <img id="mainImage" src="" title="" class="border" style="max-width:40%;max-height:40%" /><br>
                <div align="left">
                    <input type="file" id="files" name="files[]" multiple @*asp-for="@Model.Files"*@ />
                </div>

                <div class="mb-3">
                    <label asp-for="@Model.ItemDTO.Description"></label>
                    <textarea asp-for="@Model.ItemDTO.Description" rows="3" class="form-control"></textarea>
                    <span asp-validation-for="@Model.ItemDTO.Description" class="text-danger"></span>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="@Model.ItemDTO.City"></label>
                    <input asp-for="@Model.ItemDTO.City" class="form-control" />
                    <span asp-validation-for="@Model.ItemDTO.City" class="text-danger"></span>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="@Model.ItemDTO.Price"></label>
                    <input asp-for="@Model.ItemDTO.Price" class="form-control" />
                    <span asp-validation-for="@Model.ItemDTO.Price" class="text-danger"></span>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="@Model.ItemDTO.Make"></label>
                    <input asp-for="@Model.ItemDTO.Make" class="form-control" />
                    <span asp-validation-for="@Model.ItemDTO.Make" class="text-danger"></span>
                </div>
                <div class="mb-3 col-6">
                    <label asp-for="@Model.ItemDTO.Model"></label>
                    <input asp-for="@Model.ItemDTO.Model" class="form-control" />
                    <span asp-validation-for="@Model.ItemDTO.Model" class="text-danger"></span>
                </div>

                <div class="mb-3 col-6">
                    <label asp-for="@Model.ItemDTO.CategoryId"></label>
                    <select asp-for="@Model.ItemDTO.CategoryId" asp-items="@Model.CategoryList" class="form-select">
                        <option disabled selected>--Select Category--</option>

                    </select>
                    <span asp-validation-for="@Model.ItemDTO.CategoryId" class="text-danger"></span>
                </div>

                <div class="col-12">
                    @if (@Model.ItemDTO.Id != 0)
                    {
                        <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-primary" style="width:150px">Create</button>

                    }
                    <a asp-controller="Item" asp-action="Index" class="btn btn-secondary" style="width:150px">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <script>
        var tempFiles = [];
        var dict = new Object();
        $(document).ready(function () {
            if (window.File && window.FileList && window.FileReader) {
                $("#files").on("change", function (e) {
                    var files = e.target.files,
                        filesLength = files.length;
                    var guids = [];
                    for (var i = 0; i < filesLength; i++) {
                        var f = files[i]
                        var fileReader = new FileReader();
                        var guid = Math.floor(1000 + Math.random() * 9000);
                        guids.push(guid);
                        fileReader.onload = (function (e) {
                            $('<span class="pip" id="' + guids.pop() + '" >' +
                                '<img class="imageThumb" id="imageThumb" src="' + e.target.result + '" />' +
                                '<br/><span class="remove">Remove</span><br/>' +
                                '</span>').insertAfter("#mainImage");
                            
                            $("#mainImage").attr("src", e.target.result);

                            $(".remove").click(function () {
                                name = dict[$(this).parent(".pip").attr("id")];
                                delete dict[$(this).parent(".pip").attr("id")];
                                tempFiles = tempFiles.filter(function (item) {

                                    return item.name != name;
                                });
                                $(this).parent(".pip").remove();
                            });
                            $(".imageThumb").click(function () {
                                $("#mainImage").attr("src", this.src);
                            });

                        });
                        fileReader.readAsDataURL(f);
                        dict[guids[guids.length - 1]] = f.name;
                        tempFiles.push(f);                        
                    }
                });
            } else {
                alert("Your browser doesn't support to File API")
            }
            
        });

        $("form").submit(function (e) {
            e.preventDefault();
            var formData = new FormData();
            var ItemDTO = {
                Id: 0,
                Title: $('#ItemDTO_Title').val(),
                Make: $('#ItemDTO_Make').val(),
                Model: $('#ItemDTO_Model').val(),
                Price: $('#ItemDTO_Price').val(),
                City: $('#ItemDTO_City').val(),
                Description: $('#ItemDTO_Description').val(),
                CategoryId: $('#ItemDTO_CategoryId').val(),
            };
            
            for (i = 0; i < tempFiles.length; i++) {
                formData.append('Files', tempFiles[i]);
            }
           
            formData.append('ItemDTO', JSON.stringify(ItemDTO));
            
            $.ajax({
                url: "/Item/Upsert",
                method: 'POST',
                enctype: 'multipart/form-data',
                type: 'POST',
                dataType: 'json',
                contentType: false,
                processData: false,
                data: formData,
            });
        });
    </script>

}